<br />
<main class="h-100 d-flex flex-column bg-light-grey justify-content-center"></p>
<div class="row container">
<div class="col-md-6 col-lg-4 margin-left-right-auto bg-white p2 rounded">
<p class="h5 black font-weight-400 m-v-1">Recover password</p>
<form class="m-v-2" action="" method="POST" class="text-center">
{% csrf_token %}</p>
<div class="form-group">
{{form}}
</div>
<div class="float-left">
<a href="{% url 'login' %}" class="small right">< Back to login</a>
</div>
<div class="float-right">
<button type="submit" class="btn btn-primary text-uppercase">Send reset Link</button>
</div>
</form></div>
</div>
<p></main><br />