{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/ajide.css' %}">
{% endblock link %}
{% block content %}
  <body class="text-center" style="background-image: url('/static/images/farmer.jpg');">
  <div class="container">
    <nav>
      <a href="{% url 'home'%}"><img src="{% static 'images/Agric-1.png' %}" alt="logo" class="logo"></a> 
       <i class="fa-solid fa-bars" onclick="openmenu()"></i> 
   </nav>
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm midb">
        <form class="form-signin" method="GET">
            <h1 class="h3 mb-3 font-weight-normal"></h1>

            <div class="input-group">
              <input type="text" name="location" class="form-control text-center" placeholder="Enter City Name" required>
              <div class="input-group">
                <button class="btn btn-outline-secondary" type="submit">Check</button>
              </div>
              <div class="col-lg-12">
                <span>
                  <p class="weat">{{ context.weather_condition }}</p>
                  <p class="desc">{{ context.weather_description }}</p>
                  <p class="cou">{{ context.country }}</p>
                  <p class="cit">{{ context.city }}</p>
                  <p><b>{{ context.temp }}</b>&nbsp;&nbsp;<b>{{ context.base }}</b></p>
                  <p>{{outcome.description}}</p>

                </span>
              </div>
            </div>
          </form>
      </div>
      <div class="col-sm">

      </div>
    </div>
</div>
  </body>
{% endblock content %}