{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/ajide.css' %}">
{% endblock link %}
{% block content %}
  <body class="text-center" style="background-image: url('/static/images/farmer.jpg');">
  <div class="container">
    <nav>
      <a href="{% url 'home'%}"><img src="{% static 'images/Agric-1.png' %}" alt="logo" class="logo"></a> 
       <i class="fa-solid fa-bars" onclick="openmenu()"></i> 
   </nav>
    <div class="row">
      <div class="col-sm">
        {%if outcome %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{outcome.name}}</h5>
            <p class="card-text">{{outcome.description}}</p>
            
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-sm midb">
        <form class="form-signin" method="GET">
            <h1 class="h3 mb-3 font-weight-normal"></h1>

            <div class="input-group">
              <input type="text" name="location" class="form-control text-center" placeholder="Enter City Name" required>
              <div class="input-group">
                <button class="btn btn-outline-secondary" type="submit">Check</button>
              </div>
            </div>
          </form>
      </div>
      <div class="col-sm">
        {% if outcome %}
        <div class="card" style="width: 28rem;">
          <img src="{{outcome.image.url}}" class="card-img-top" alt="vegetables">
          
        </div>
        {%endif%}
      </div>
    </div>
</div>
  </body>
{% endblock content %}