{% extends 'base.html' %}

{% load static %}

{%block link%}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">

{%endblock link%}

{% block  content%}
<body class="text-center" style="
  background-image: url('/static/images/farmerinfield.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  ">
  {%for messsage in messages %}
  <h3>{{ messsage }}</h3>
  {% endfor %}
  <div id="login-card" class="card">
    <div class="card-body">
      <h2 class="text-header">Sign Up</h2>
      <br>
      <form action="{% url 'signup' %}" method='POST'>
        {% csrf_token %}
        {%for field in form %}
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}    
        <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
    
        <br>
        <div id="btn" class="text-center">
          <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button>
          <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-google"></i></button>
          </a>
          <button type="button" class="btn btn-info btn-circle btn-sm"><i class="fa fa-twitter"></i></button>  
      </div>
      <span>
        <p>Already have an account? <a href="{% url 'login' %}"> Login</a></p>
      </span>
  
      </form>
    </div>
  <div>
</body>

{% endblock %}